{% extends 'base.html' %}

{% block title %}{{ thread.title }} - Discuss now!{% endblock %}

{% block body %}
{% load crispy_forms_tags %}

<div class=container>
    {% if messages %}
        {% for msg in messages %}  
            <p></p>     
            <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
        {% endfor %}
    {% endif %}

    <h2>{{ thread.title }}</h2>
    <p></p>

    <a class="btn text-white btn-danger" href="{% url 'delete_thread' pk=thread.pk %}">Delete Thread</a>

    {% for comment in comments %}
    <div class="card">
	    <div class="card-body">
	        <div class="row">
        	    <div class="col-md">
        	        <p>
        	            <a class="float-left"><strong>{{ comment.author }}</strong> {{ comment.date }}</a>
        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
        	            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
        	       </p>
        	       <div class="clearfix"></div>
        	        <p>
                        {{ comment.text }}
        	        <p>
        	            <a class="float-right btn text-white btn-danger" href="{% url 'delete_comment' th_pk=thread.pk cm_pk=comment.pk %}"> <i class="fa fa-heart"></i>Delete</a>
        	       </p>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <br><br>No Comments!
    {% endfor %}

    <hr>

    {% if user.is_authenticated %}
    <h3>New Comment</h3>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="save btn btn-primary">Save</button>
    </form>
    {% else %}
    <div class="alert alert-info" role="alert">
        You have to login to post a comment.
    </div>
    {% endif %}

</div>
{% endblock %}